<h1>Create A New Blogger</h1>
<%= form_for @blogger do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </p>
<%= f.submit "Create a blogger" %>
<% end %>
