<h1><%= @blogger.name %></h1>
<h2>Bio: </h2>
  <p>
    <%= @blogger.bio %>
  </p>
  <p>
    <%= @blogger.age %>
  </p>
  <ul>
      <% @blogger.posts.each do |post| %>
      <li>
      <%= "#{post.title} likes: #{post.likes}" %>
      </li>
      <% end %>
  <br>
  <h3>Featured post: </h3>
  <%= link_to @most_liked.title, post_path(@most_liked) %>
