<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></p>
<p>Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %></p>
<%# like button %>
<%= button_to "Like", like_path(@post) %>
<%= @post.likes %>
